
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: #1b162c;
  color: #fff;
  &__item {
      padding: 100px 0;
      font-size:1.5rem;
      font-weight: 500;
  }
}