
.slider {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff;
  padding: 104px 0;
  @media screen and (max-width: 930px) {
    padding: 0 24px 64px 24px;
  }

  &__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @media screen and (max-width: 1100px) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__left {
    max-width: 440px;
    width: 100%;
  }
  &__title-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 16px 0;
  }
  &__title {
    margin: 0;
  }
  &__stroke-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;
  }
  &__stroke {
    width: 32px;
    height: 1px;
    margin: -2px 0 0 0;
    background: #212C41FF;
  }
  &__sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;

    color: #212C41FF;
    margin: 0 0 16px 0;
    @media screen and (max-width: 1100px) {
      font-size: 48px;
      line-height: 56px;
    }
    @media screen and (max-width: 750px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #212C41FF;
    margin: 0 0 32px 0;
  }
  &__get {
    width: fit-content;
    @media screen and (max-width: 500px) {
      width: 100% ;
    }
  }
  &__image {
    width: 680px;
    height: 462px;
    border-radius: 0px;
    @media screen and (max-width: 1100px) {
      margin: 0 0 56px 0;
    }
    @media screen and (max-width: 750px) {
      width: 100%;
      height: auto;
      margin: 0 0 40px 0;
    }
  }
}
